[submodule "Nut/vendor/spdlog"]
	path = Nut/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Nut/vendor/GLFW"]
	path = Nut/vendor/GLFW
	url = https://github.com/JJJJJJJustin/glfw
	branch = master
[submodule "Nut/vendor/imgui"]
	path = Nut/vendor/imgui
	url = https://github.com/JJJJJJJustin/imgui
	branch = MyDocking
[submodule "Nut/vendor/glm"]
	path = Nut/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Nut/vendor/yaml-cpp"]
	path = Nut/vendor/yaml-cpp
	url = https://github.com/JJJJJJJustin/yaml-cpp
