## *和**是通配符，* 表示忽视该一级目录下的文件，** 表示当前目录及其所有子目录中的文件。
## \xxx 和 \xxx\。 \xxx 表示匹配 xxx 目录及其直接子目录中的 xxx, \xxx\ 表示表示匹配 xxx 目录及其所有子目录中的 xxx。

# Ignore files and directories in the .vs folder
.vs/
# Ignore Visual Studio files and folder (包括项目的用户特定设置文件）
**.sln
**.vcxproj
**.vcxproj.filters          
**.vcxproj.user

# Ignore directories
bin-int/
**/bin/
# ! 表示不忽略vendor/bin/premake目录
!vendor/premake/bin/

# Ingore Log file
*.log

# Directories
Nut/vendor/VulkanSDK
Nut-Editor/assets/cache
scripts/__pycache__

# Ignore all .json files
*.json

# Ignore imgui.ini file
/Sandbox/imgui.ini
Nut-Editor/imgui.ini

# Ignore OSAlgorithm files
/OSAlgorithms/

