[submodule "Nut/vendor/spdlog"]
	path = Nut/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nut/vendor/GLFW"]
	path = Nut/vendor/GLFW
	url = https://github.com/JJJJJJJustin/glfw
[submodule "Nut/vendor/imgui"]
	path = Nut/vendor/imgui
	url = https://github.com/JJJJJJJustin/imgui
